<!DOCTYPE html>
<html>
<%- include('header.ejs') %>

<body>
<%- include('banner.ejs') %>

<h2 id='constit-title'></h2>

<div class='constit-nav'>
  <a class='constit-nav-go' id='constit-connector'>Find connections</a>
  <a class='constit-nav-selected' id='constit-info'>Constituency info</a>
</div>

<div id="constit-title"></div>

<div class="constit-data">
  <div class="block" id="contact-info"></div>
  <div class="block" id="constit-result-description"></div>
  <div class="block" id="election-bar"></div>
</div>

<hr>

<div id="constitDropdown" class="dropdown-content">
  <input type="text" placeholder="Search for another constituency.." id="constitInput" onkeyup="filterconstits()">
</div>


<%- include('footer.ejs') %>

<script src="/analysis.js"></script>
<script src="/d3_bar.js"></script>
<script src="/d3_pie.js"></script>

<script src="/app.js"></script>
<script>
  load_constit_links('<%= constit %>')
  election_bar('<%= constit %>')
  constit_details('<%= constit %>')
  result_summary('<%= constit %>')
</script>


</body>

</html>
