<!DOCTYPE html>
<html>
<%- include('header.ejs') %>

<body>
<%- include('banner.ejs') %>

<!-- Content -->
<header class="App-header">
  <section style="max-width:-webkit-fill-available;text-align:left;margin:auto">
    <h2 id="constit-title"></h2>
  </section>
</header>

<div class="constit-data">
  <div class="block">Contact</div>
  <div class="block" id="contact-info"></div>
  <div class="block">Election results</div>
  <div class="block" id="election-bar"></div>
</div>


<div id='results'></div>

<%- include('footer.ejs') %>


<script src="/analysis.js"></script>
<script src="/d3_bar.js"></script>
<script src="/d3_pie.js"></script>

<script src="/app.js"></script>
<script>
  load_constit('<%= constit %>')
  election_bar('<%= constit %>')
  constit_details('<%= constit %>')
</script>


</body>

</html>
